.row-ctn {
	display: flex;
	flex-direction: row;
}

.node {
	width: 40px;
	height: 40px;
	background-color: white;
	outline: 1px solid black;
	display: block;
}

.start {
	background-color: green;
}

.finish {
	background-color: red;
}

.visited {
	background-color: blue;
}

.path {
	background-color: yellow;
}

.wall {
	background-color: black;
}
